<RadSideDrawer #rsd drawerTransition="PushTransition"
    (loaded)="drawerLoaded($event)">
    <GridLayout tkDrawerContent>
        <StackLayout backgroundColor="#213c6b">
            <StackLayout height="56" class="drawer-container">

                <Label text="My Favorite Cities" class="drawer-heading">
                </Label>
            </StackLayout>

            <ListView id="list-view" [items]="cities"
                (itemTap)="chooseCity($event)" separatorColor="transparent"
                height="100%" backgroundColor="#4673c1">
                <ng-template let-city="item">
                    <Label [text]="city.name" padding="20"
                        class="drawer-item"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
    </GridLayout>

    <GridLayout tkMainContent class="page page-content" rows="44, *"
        backgroundImage="{{ img }}">
        <GridLayout row="0" (tap)="onOpenDrawerTap($event)">
            <Label text="&#xf0c9;" class="fa-solid weather"
                style="padding:10"></Label>
        </GridLayout>
        <ScrollView row="1">
            <StackLayout style="padding-top:35">
                <Label text="{{ city }}" class="center city-name"></Label>
                <Label text="{{ state }}" class="center state-name"></Label>
                <GridLayout columns="*, *, *" rows="90, 50" class="center"
                    style="margin-top:50">

                    <Button text="&#xf1ad;" row="0" col="0"
                        backgroundColor="#53beb1" (tap)="onButtonTap($event)"
                        class="fa icon icon-left m-r-10">
                    </Button>
                    <Button text="&#xf2e7;" row="0" col="1"
                        backgroundColor="#d16a6e" (tap)="onButtonTap($event)"
                        class="fa-solid icon icon-middle">
                    </Button>
                    <Button text="&#xf3ff;" row="0" col="2"
                        backgroundColor="#55a3bb" (tap)="onButtonTap($event)"
                        class="fa-solid icon icon-right m-l-10">
                    </Button>

                    <Label text="Stay" row="1" col="0"
                        class="icon-text icon-text-left"></Label>
                    <Label text="Eat" row="1" col="1"
                        class="icon-text icon-text-middle"></Label>
                    <Label text="Play" row="1" col="2"
                        class="icon-text icon-text-right"></Label>




                </GridLayout>
                <StackLayout class="hr-light hr-top m-t-20"></StackLayout>
                <GridLayout columns="auto, 45, 45, 45, 45, 45" rows="50, 50"
                    class="center forecast">

                    <Label text="{{ temp }}" row="0" col="0" rowSpan="2"
                        class="temp m-r-10"></Label>



                    <Label text="&#xf185;" row="0" col="1" class="fa weather">
                    </Label>
                    <Label text="&#xf185;" row="0" col="2" class="fa weather">
                    </Label>
                    <Label text="&#xf0c2;" row="0" col="3"
                        class="fa-solid weather"></Label>
                    <Label text="&#xf185;" row="0" col="4" class="fa weather">
                    </Label>
                    <Label text="&#xf043;" row="0" col="5"
                        class="fa-solid weather"></Label>
                    <Label text="TUE" row="1" col="1" class="day"></Label>
                    <Label text="WED" row="1" col="2" class="day"></Label>
                    <Label text="THU" row="1" col="3" class="day"
                        style="padding-left:2"></Label>
                    <Label text="FRI" row="1" col="4" class="day"
                        style="padding-left:5"></Label>
                    <Label text="SAT" row="1" col="5" class="day"></Label>
                </GridLayout>
                <StackLayout class="hr-light hr-bottom"></StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

</RadSideDrawer>